#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.btn {
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	transition: background-color $animation-speed;
	text-align: center;
	color: $white;
	background-color: #959595;
	box-shadow: 0 4px 0 rgba(25,25,25,.59);
	transition: box-shadow $animation-speed, background-color $animation-speed;
	padding: 6px 26px;
	width: 133px

	&:hover {
		box-shadow: 0 4px 0 rgba(64,64,64,1);
		transition: $animation-speed;
		background-color: #868686;
		color: $white;
	}
}

.visual-section{
	background-color: #2e90ce;
	background-size: cover;
	background-position: 50% 50%;
	color: $white;
	height: auto;
	position: relative;
	margin-top: -1px;

	&:before{
		content:'';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,.35);
	}

	@include media (">=desktop") {
		height: 534px;
	}

	p {
		font-weight: 300;
	}
}

.column-holder {
	padding: 30px 15px;
	height: auto;

	@include media (">=tablet") {
		padding: 50px 55px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	@include media (">=desktop") {
		padding: 72px 65px 0 52px;
	}
}

.column {
	width: 100%;

	@include media (">=tablet") {
		width: 45%;
	}

	@include media (">=desktop") {
		width: 33%;
	}

	&:nth-child(1) {
		font-size: 15px;
		line-height: 1.5;
		font-family: $base-font-sans-serif;
		padding-bottom: 15px;

		@include media (">=phone") {
			font-size: 16px;
			line-height: 1.3;
			padding-bottom: 35px;
		}

		@include media (">=tablet") {
			font-size: 18px;
			line-height: 1.7;
			margin: 40px 0;
		}

		@include media (">=desktop") {
			width: 38%;
			padding-right: 40px;
		}
	}

	h1 {
		padding-bottom: 20px;
		font-weight: bold;
		line-height: 1.2;
		font-family: $base-font-sans-serif;

		@include media (">=phone") {
			font-size: 30px;
			line-height: 1.333;
		}

		@include media (">=desktop") {
			padding-bottom: 0;
			font-size: 36px;
			line-height: 1.3888;
		}
	}
		
	&:nth-child(2) {

		@include media ("<desktop") {
			display: none;
		}

		font-size: 18px;
		line-height: 1.6666;
		font-family: $base-font-sans-serif;
		position: relative;
		left: -5px;
	}

	&:nth-child(3) {
		color: $white;
		font-size: 16px;
		line-height: 1.5;
		font-family: $base-font-sans-serif;

		@include media (">=tablet") {
			font-size: 18px;
			line-height: 1.6666;
			margin: 40px 0;
		}

		@include media (">=desktop") {
			padding-top: 10px;
			font-size: 16px;
			line-height: 1.333;
			padding-left: 60px;
		}
	}

	h4 {
		line-height: 1.333;
		font-family: $base-font-sans-serif;
		margin-bottom: 22px;
		font-weight: 400;

		@include media ("<phone") {
			margin-bottom: 12px
		}
	}

	form {

		@include media (">=desktop") {
			//width: 295px;
		}
	}

	input {
		background-color: transparent;
		width: 100%;
		margin-bottom: 10px;
		min-height: 45px;
		border: 2px solid rgba(255,255,255,.3);
		border-radius: 3px;
		color: $white;
		outline: none;

		@include media (">=tablet") {
			//width: 295px;
		}

		&:focus {
			border: 2px solid $white;
		}

		&:last-child {
			margin-bottom: none;
		}
	}

	.privacy-policy {
		font-size: 12px;
		line-height: 1.5;
		font-family: $base-font-sans-serif;
		padding: 14px 0 15px;

		@include media (">=phone") {
			padding: 12px 0 10px;
		}

		@include media (">=tablet") {
			padding: 12px 0 20px;
		}

		p {
			margin-bottom: 0;
		}

		a {
			display: inline-block;
			color: $white;
			text-decoration: underline;
		}
	}

	.btn-red {
		background-color: $red;
		box-shadow: 0 4px 1px 0 rgba(197,53,39,1);
		padding: 15px 40px;
		text-transform: capitalize;
		width: 154px;

		&:hover {
			background-color: $dark-red;
		}
	}
}

.more-info {
	padding: 30px 0 0;

	@include media (">=phone") {
		padding: 30px 15px 0;
	}

	@include media (">=tablet") {
		padding: 78px 55px 0;
	}
}

.our-info {
	display: flex;
	flex-wrap: wrap;

	@include media (">=tablet") {
		justify-content: space-between;
		align-items: flex-start;
	}
}

.info-block {
	font-size: 16px;
	line-height: 1.2;
	font-family: $base-font-sans-serif;
	padding-bottom: 55px;
	width: 100%;
	color: #959595;

	@include media (">=tablet") {
		width: 30%;
		font-size: 14px;
		line-height: 1.7142;
		padding: 0 0 48px;
	}
}

.img-holder {
	max-width: 100%;
	text-align: center;
	margin-bottom: 25px;
	position: relative;

	&:before {
		content:'';
		position: absolute;
		top: 50%;
		left: 0; 
		width: 20%;
		height: 5px;
		background: #ededed;
		
		@include media (">=desktop") {
			width: 25%;
		}
	}

	&:after {
		content:'';
		position: absolute;
		width: 20%;
		height: 5px;
		top: 50%;
		right: 0;
		background: #ededed;

		@include media (">=desktop") {
			width: 27%;
		}
	}

	@include media (">=tablet") {
		min-height: 127px;
		margin-bottom: 50px;
	}

	@include media (">=desktop") {
		text-align: left;
		max-width: 273px;
	}
	
	img {
		display: inline-block;
		vertical-align: middle;
		
		@include media (">=tablet") {
			position: absolute;
		}
	}

	.map {

		@include media (">=tablet") {
			bottom: 10%;
			left: 20%;
		}

		@include media (">=desktop") {
			left: 25%;
		}
	}

	.duck {

		@include media (">=tablet") {
			left: 25%;
		}

		@include media (">=desktop") {
			left: 33%;
		}
	}

	.book {
		@include media (">=tablet") {
			left: 30%;
		}

		@include media (">=desktop") {
			left: 35%;
		}
	}
}

h2 {
	margin-bottom: 25px;
	font-weight: 600;
	font-family: $base-font-sans-serif;
	color: #191919;

	@include media (">=desktop") {
		font-size: 24px;
		line-height: 0.8333;
		margin-bottom: 25px;
	}
}

p {
	margin-bottom: 28px;
}

.features {
	border-top: 2px solid #e8eaeb;
	height: auto;
	padding: 15px 0 15px;
	display: flex;
	justify-content: flex-start;
	align-items: cener;
	color: #8d949b;

	@include media (">=desktop") {
		padding: 38px 0 32px;
		min-height: 138px;
	}

	h3 {
		font-weight: 300;
		line-height: 1.6;
		font-family: $base-font-sans-serif;

		@include media (">=tablet") {
			font-size: 30px;
		}
	}

	i {
		color: $white;
		font-size: 20px;
		text-align: center;
		border-radius: 50%;
		background-color: $red;
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 140%;

		@include media (">=desktop") {
			width: 40px;
			height: 40px;
			font-size: 25px;
			line-height: 150%;
		}
	}
}

.red-text {
	color: $red;
	transition: $animation-speed;
	display: inline-block;
	vertical-align: center;

	&:hover {
		color: $dark-red;
		transition: $animation-speed;

		.circle {
			background-color: $dark-red;
		}
	}
}